<nav class="navbar">
    <a routerLink="/" class="logo">E-Commerce</a>
    <ul class="nav-links">
      <li><a routerLink="/products">Produits</a></li>
      <!-- <li><a routerLink="/cart">Panier</a></li> -->
      <!-- <li><a routerLink="/orders">Commandes</a></li> -->
      <li id="login" *ngIf="!isLoggedIn"><a routerLink="/auth/login">Se connecter</a></li>
      <li id="sign-up" *ngIf="!isLoggedIn"><a routerLink="/auth/sign-up">Créer un compte</a></li>
      <li id="account" *ngIf="isLoggedIn"><a routerLink="/account">Mon compte</a></li>
      <li id="logout" *ngIf="isLoggedIn"><a  (click)="logout()">Se déconnecter</a></li>
    </ul>
  </nav>
  