<div class="main-container">
    <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
        <div class="signup-email">
            <label for="email">Email :</label>
            <input type="text" nz-input formControlName="emailControl" placeholder="example@mail.com">
        </div>
        <div class="signup-pwd">
            <label for="password">Password :</label>        
            <nz-input-group [nzSuffix]="suffixTemplate1">
                <input nz-input [type]="passwordVisible ? 'text':'password'" formControlName="passwordControl" >
            </nz-input-group>
        </div>
        <div class="signup-pwd-again">
            <label for="password">Password again :</label>
            <nz-input-group [nzSuffix]="suffixTemplate2">
                <input nz-input [type]="passwordAgainVisible ? 'text':'password'" formControlName="passwordAgainControl" >
            </nz-input-group>
        </div>
        <button nz-button class="signup-form-button signup-form-margin" [nzType]="'primary'" [disabled]="signupForm.invalid">Confirmer</button>
    </form>
</div>

<ng-template #suffixTemplate1>
    <nz-icon
        class="ant-input-password-icon"
        [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
        (click)="passwordVisible = !passwordVisible" nzTheme="outline" />
</ng-template>
<ng-template #suffixTemplate2>
    <nz-icon nz-icon
        class="ant-input-password-icon"
        [nzType]="passwordAgainVisible ? 'eye-invisible' : 'eye'"
        (click)="passwordAgainVisible = !passwordAgainVisible" nzTheme="outline" />
</ng-template>